# Dependencies
node_modules/

# Build output
build/

# IDE
.idea/
.vscode/

# Git
.git/
.gitignore

# Environment
.env
*.env
.env.local
.env.production

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
